@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
    --swiper-theme-color: #df1d17 !important;
}

.solution-description ul {
    list-style: disc;
    list-style-position: inside;
}

.container {
    @apply mx-auto px-4;
}

@screen md {
    .cointainer {
        @apply px-8;
    }
}

@screen lg {
    .container {
        @apply px-12;
    }
}
